*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(245, 245, 245);
}

li{
    margin:  3px 0 15px 0;
}

.header-container{
    background-color: white;
    padding: 10px 0 10px 20px;
    margin-bottom: 50px;
}

.header-container img, .header-container h1{
    vertical-align: middle;
}

h1{
    display: inline-block;
}

.first-container{
    width: 75%;
    margin: 0 auto;
    border-radius: 20px;
}

.button-container{
    background-color: white;
    border-radius: 20px 20px 0px 0px;
}

.button-margin{
    padding: 20px 0 5px 0;
    margin-left: 50px;
}

.list-margin{
    padding: 50px 0 5px 0;
    margin-left: 50px;
}


button{
    padding: 5px 12px;
    border-radius: 5px;
    border: 1px solid gray;
}

#blue-button{
    background-color: rgb(65, 151, 248);
    color: white;
    border: 1px solid rgb(65, 151, 248);
}

#grey-button{
    background-color: transparent;
    color: rgb(156, 156, 156);
    border: 1px solid rgb(156, 156, 156);
}

.second-container{
    background-color: white;
    margin-top: 2px;
    border-radius: 0px 0px 20px 20px;
}

ul{
    list-style-type: none;
}

.status{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 20px;
    text-align: center;
    margin-right: 5px;
    
}

.done{
    border-color: green;
    color: green;
}

.not-done{
    border-color: red;
    color: red;
}


.tag-type{
    display: inline-block;
    background-color: gray;
    color: white;
    padding: 8px 15px;
    border-radius: 15px;
    font-size: 0.8em;
}

.editorial{
    background-color: rgb(55, 134, 238);
}
.goals{
    background-color: rgb(137, 78, 247);
}
.recruiting{
    background-color: rgb(107, 204, 139);
}
.mobile{
    background-color: rgb(252, 170, 48);
}
.website{
    background-color: rgb(214, 91, 198);
}
.sales{
    background-color: rgb(159, 209, 79);
}