*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(245, 245, 245);
}

.header-container{
    background-color: white;
    padding: 10px 0 10px 20px;
}

.header-container img, .header-container h1{
    vertical-align: middle;
}

h1{
    display: inline-block;
}